PORT=5000
NODE_ENV=development
JWT_SECRET=smilescan_super_secret_jwt_key_2026

# Firebase Admin SDK Environment Variables
FIREBASE_PROJECT_ID=smile-scan-d6681
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@smile-scan-d6681.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=smile-scan-d6681.firebasestorage.app
